.character-card, .location-card, .episode-card {
    width: 350px;
    margin: 5px 5px 5px 5px;
}

.character-img {
    width: 100%;
    height: 100%;
}

.character-body {
    background-color: #d48166;
    border-top: solid 1px black;
    font-family: cursive;
    color:rgb(3, 3, 3);
}

.location-body {
    background-color:rgb(236, 236, 255);
    border-top: solid 1px black;
}

.card-name {
    font-weight: bold;
    font-size: 20px;
}

.img-div {
    background-color: cadetblue;
}

.location-img-div {
    background-color: rgb(236, 236, 255);
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.card-footer {
    background-color: #d48166;
    padding: 0px 0px 0px 0px !important;
    font-weight: bold;
}

.dead {
    color: black;
}

.alive {
    color: green;
}

.unknown {
    color: grey;
}

.character-status {
    font-size: 20px;
}

.character-detail {
    background-color: #d48166;
    border-left: solid 1px black;
    font-family: cursive;
    color:rgb(3, 3, 3);
}

.character-container-detail{
    height: max-content;
}
.character-card-detail {
    width: 70%;
    margin: 5px 5px 5px 5px;
}

.btn-view-char {
    margin-top: 10px;
    background-color: #373A36;
    color: whitesmoke;
}

.containersx {
    background-color: whitesmoke;
}

.collapse-container {
    background-color: #d48166; 
    margin-top: 5px;
    margin-bottom: 5px;
    height: 30px;
}

.btn-collapse {
    background-color: #373A36;
    color: whitesmoke;
    height: 30px;
    width: 40px;
    display: inline-flex;
    align-items: center;
}

.info {
    width: 40%;
    background-color: #d48166;
    margin: auto;
}

.details-title {
    text-align: center;
    font-weight: bolder;
    font-family: cursive;
    font-size: x-large;
}

.details {
    font-family: cursive;
    font-size: medium;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.border-selected {
    border: 5px solid red;
}

.collapse-text {
    margin-left: 45%;
    font-size: large;
    font-weight: bolder;
    font-family: cursive;
}

.link {
    cursor: pointer;
    text-decoration: underline;
    
}