@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
  
.page-overlay-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  background: black;

  .portal-spinner {
    width: 20%;
    height: 35%;
    position: fixed;
    top: 30%;
    left: calc(50% - 10%);
    z-index: 100;
    background-image: url(../../../assets/portal.png);
    background-repeat: no-repeat;
    background-size: 100%;
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .portal-text {
    font-size: x-large;
    color: white;
    text-align: center;
    position:relative;
    top: 65%;
  }
}
